/**********************************
CSS COMMUN
**********************************/

*{
    box-sizing: border-box;
}

@font-face {
    font-family: "gill-bold";
    src: url(../assets/fonts/gill/gill-sans-nova-ultrabold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gill-shadowed";
    src: url(../assets/fonts/gill/gill-shadowed.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "muli";
    src: url(../assets/fonts/muli/Muli-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "muli-black";
    src: url(../assets/fonts/muli/Muli-Black.ttf);
    font-style: bold;  
}

body{
    font-family: "muli";
    text-align: center;
    color: var(--color--off-black);
    background-color: var(--color--off-white);
}

h1, h2, h4{
    font-family: "gill-bold";
    text-transform: uppercase;
}

h1{
    font-size : 1.8rem;
    word-wrap: normal;
    animation: glitch1 2.5s infinite;
}

h2{
    font-size : 1.2rem;
    margin : 0 0 20px 0;
}

h3{
    display: block;
    width: 200px;
    margin:auto;
    font-family: "gill-bold";
    background-color: var(--color--second);
    color: white;
    margin-bottom: 20px;
}

h4{

    font-size : 1.2rem;
}

a{
    text-decoration: none;
}

strong{
    font-weight: 600;
}

.txt-rotate{
    color : var(--color--second);
}

.wave{
    width:50px;
    margin-bottom : 30px;
}

.lead{
    font-size : 1rem;
}

ul{
    padding : 0;
    list-style : none;
}

/**********************************
CSS HEADER - NAV
**********************************/

nav{
    text-align : left;
    font-family: "muli";
    text-transform: uppercase;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.709);
}
.navbar{
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color: var(--color--brique);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--color--second);
}

#navbar-logo, #navbar-logo-solid{
    margin: 20px;
}

.dropdown-menu{
    background-color: var(--color--off-white);
    border:none;
}

.dropdown-item{
    color: var(--color--brique);
}

.dropdown-item:hover{
    background-color: var(--color--off-white);
}

.nav-item:hover{
    border-bottom: 3px solid var(--color--brique);
    color: var(--color--brique);
}

.navbar.solid {
    background-color: var(--color--off-white);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.dropdown-divider{
    border-top: 1px solid var(--color--brique);
}

.fixed-top{
    display:none;
}

/**********************************
CSS MAIN - CSS COMMUN DE BANDES
**********************************/

main{
    background-color: var(--color--off-white);

}

/**********************************
BANDE-VIDEO
**********************************/

.video-video{
    padding: 0;
}

.video-container{
    height : 600px;
    z-index: 0;
    position : relative;
}

#myVideo{
    max-width: 100%;
    height : 600px;
    max-height : 100%;
	background-size: 100% 100%;
	background-color: #000;
	background-position: center center;
	background-size: contain;
	object-fit: cover;
    z-index: 2;
}

.overlay { 
    position: absolute; 
    top: 0; 
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    z-index :1;
    padding : 10px;
}

.overlay-text{
    padding-left : 50px;
    padding-right : 50px;
    text-shadow : 5px 5px 1px var(--color--brique);
    color : white;
}

/**********************************
BANDE-CONCEPT
**********************************/

.bande-concept{
    margin-top : 100px;
    margin-bottom : 40px;
}

.mob-info-concept{
    width : 70%;
    margin-left : auto;
    margin-top : 40px;
    margin-bottom : 30px;
}

.desk-info-concept{
    display : none;
}

/**********************************
BANDE-PROG
**********************************/

.as-fab-vert{
    display : inline-block;
    margin : 10px;
    font-size : 1.5rem;
    color : white;
    border-radius: 50%;
    background-color: var(--color--vert);
    height: 60px;
    width: 60px;
    padding : 18px;
}

.as-fab-vert:hover{
    color : var(--color--off-black);
    background-color: var(--color--off-white);
    border : 1px solid var(--color--vert);

}

.as-fab-bleu{
    display : inline-block;
    margin : 10px;
    font-size : 1.5rem;
    color : white;
    border-radius: 50%;
    background-color: var(--color--bleu);
    height: 60px;
    width: 60px;
    padding : 18px;
}

.as-fab-bleu:hover{
    color : var(--color--off-black);
    background-color: var(--color--off-white);
    border : 1px solid var(--color--bleu);
}

.as-fab-yellow{
    display : inline-block;
    margin : 10px;
    font-size : 1.5rem;
    color : white;
    border-radius: 50%;
    background-color: var(--color--yellow);
    height: 60px;
    width: 60px;
    padding : 18px;
}

.as-fab-yellow:hover{
    color : var(--color--off-black);
    background-color: var(--color--off-white);
    border : 1px solid var(--color--yellow);
}

.card-body{
    padding-left : 0;
    padding-right : 0;
}

/**********************************
BANDE-PRESSE
**********************************/

.container-cards{
    margin : auto;
}

.ccc{
    margin-bottom : 40px;
}

.card{
    background-color: transparent;
    border : none;
}

.card-presse{
    background-color: transparent;
    border: 1px solid var(--color--second);
    -webkit-box-shadow: 10px 10px 0px 1px var(--color--second); 
    box-shadow: 10px 10px 0px 1px var(--color--second);
}

.card-presse:hover {
    border-radius: 40px 40px 0px 40px;
    -webkit-box-shadow: 0px 0px 0px 0px var(--color--second); 
    box-shadow: 0px 0px 0px 0px var(--color--second); 
}

.brand-container{
    height: 50px;
    padding: 10px;
    margin-bottom : 20px;

}

.brand{
    max-height : 40px;
    max-width: 100px;
}

.presse-web{
    display:none;
}


/**********************************
BANDE-AVIS
**********************************/

.main-container{
    display:none;
}

.bande-mains{
    padding : 0;
    margin : auto;    
}

.photo-client{
    width:200px;
    margin: auto;
}

.carousel-inner{
    margin:auto;
}

.fas{
    font-size: 5rem;
    letter-spacing: 2rem;
    color: var(--color--second)
}

.fa-angle-right{
    padding-left : 60px;
}

/**********************************
BANDE-CARTE
**********************************/

iframe{
    -webkit-box-shadow: 10px 10px 0px 1px var(--color--second); 
    box-shadow: 10px 10px 0px 1px var(--color--second);
}

.map-legend{
    background : transparent;
    padding : 40px 20px 0px 20px;
}

.bande-carte{
    margin-bottom : 20px;
}

/**********************************
BANDE-SOCIALE
**********************************/

.bande-sociale{
    margin-bottom : 70px;
}

.bouton-social{
    border-radius: 50%;
}

.bs-fab{
    margin-top : 20px;
    display : inline-block;
    border-radius: 50%;
    background-color: var(--color--second);
    color: white;
    height: 80px;
    width: 80px;
    padding : 25px;
    font-size: 2rem;
}

.fa-instagram{
    margin-left: 10px;
    margin-right: 10px;
}

.bs-fab:hover{
    color : var(--color--brique);
    background-color: transparent;
    border : 1px var(--color--brique) solid;

}

/**********************************
NEWSLETTER
**********************************/

.bande-newsletter{
    height: 370px;
    background: url("../assets/pics/light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bande-newsletter h1{
    padding-top: 50px;
    color : #fff;
}
.bande-newsletter h1{
    font-size:2rem;
}

.newsletter-subscribe {
    padding-top : 0;
    padding-bottom : 40px;
    margin-top : 0px;
}

.neon{
    display: block;
    position: relative;
    -webkit-transform: translateZ(0) translate3D(0, 0, 0);
            transform: translateZ(0) translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    will-change: opacity;
    color: #ffF;
    text-shadow: 0 0 0 transparent, 0 0 10px #ffca42, 0 0 20px rgba(255, 111, 0, 0.5), 0 0 40px #ffca42, 0 0 100px #ffca42, 0 0 200px #ffca42, 0 0 300px #ffca42, 0 0 500px #ffca42, 0 0 1000px #ffca42;
    -webkit-animation: blink 4s infinite alternate;
            animation: blink 4s infinite alternate;
  
  }

  @-webkit-keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
}

.newsletter-subscribe {
    color: #313437;
    padding-top : 20px;
}

.newsletter-subscribe p {
    color: #7d8285;
    line-height: 1.5
}

.newsletter-subscribe form {
    justify-content: center
}

.newsletter-subscribe form .form-control {
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 250px
}

.newsletter-subscribe form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    font-size: 1rem;
    font-family: "muli";
    margin-top: 10px;
}

.newsletter-subscribe form .btn:active {
    transform: translateY(1px)
}

.newsletter-subscribe form .btn-primary {
    background-color: var(--color--brique);
    border: 0px solid transparent;
    border-radius: 40px;
    color: #fff;
    outline: none !important;
}

.newsletter-subscribe form .btn-primary:hover {
    background-color: var(--color--second);
}

/**********************************
RGPD
**********************************/

#popup-rgpd{
    display: none;
    position: fixed;
    width: 100%;
    text-align: center;
    min-height: 20px;
    background-color: var(--color--off-white);
    z-index: 100;
    bottom : 0;
    border-radius: 5px;
    padding : 10px;
    
}
#popup-rgpd.open{
    display: block;
}

.accept, .savoir-plus-cookies{
    display : inline-block;
    background-color: var(--color--brique);
    border-radius: 5px;
    margin : 10px 10px 10px 5px;
    padding : 10px;
    color : white;
    text-decoration : none;
}

.accept:hover, .savoir-plus-cookies:hover{
    color : white;
    cursor : pointer;
}

/**********************************
PAGE A PROPOS /// BANDE-CONCEPT
**********************************/

.very-big{
    font-size : 2rem;
}

.h4-space{
    margin-bottom : 20px;
}

.icon-promesse{
    max-width : 100px;
    margin-bottom : 20px;
}

.container-concept-trio, .container-histoire, .container-promesses{
    margin-top : 50px;
}

.photo-artiste-scene{
    max-width: 90%;
    margin : 40px auto 20px auto;
    border : 1px solid var(--color--brique);
    -webkit-box-shadow: 10px 10px 0px 1px var(--color--second); 
    box-shadow: 10px 10px 0px 1px var(--color--second);
}


.block-concept{
    flex-basis : 100%;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height : 500px;
}

.colored-block-vert{
    background-image : url('../assets/pics/pop-up-img.jpg');
    background-size: cover;
    background-position: center;
    color : white;
    text-shadow: 5px 5px 0px var(--color--vert);
}

.text-block-vert{
    padding: 20px;
    font-size : 1rem;
    color : var(--color--vert);
}

.colored-block-bleu{
    background-image : url('../assets/pics/exposition-img.jpg');
    background-size: cover;
    background-position: center;
    color : white;
    text-shadow: 5px 5px 0px var(--color--bleu);
}

.text-block-bleu{
    padding: 20px;
    font-size : 1rem;
    color : var(--color--bleu);
}

.colored-block-yellow{
    background-image : url('../assets/pics/scene-libre-img.jpg');
    background-size: cover;
    background-position: center;
    color : white;
    text-shadow: 5px 5px 0px var(--color--yellow);
}

.text-block-yellow{
    padding: 20px;
    font-size : 1rem;
    color : var(--color--yellow);
    text-shadow : 1px 1px 1px #4431001c;
}

.colored-block-brique{
    background-image : url('../assets/pics/cafe-img.jpg');
    background-size: cover;
    background-position: center;
    color : white;
    text-shadow: 5px 5px 0px var(--color--brique);
}

.text-block-brique{
    padding: 20px;
    font-size : 1rem;
    color : var(--color--brique);
}


.fa-user-astronaut, .fa-smile, .fa-hand-holding-heart, .fa-leaf{
    font-size : 3rem;
    padding-left : 30px;
}

/**********************************
PAGE A PROPOS /// BANDE-EQUIPE
**********************************/

.photo-equipe{
    max-width : 70%;
    margin : auto;
}

.bande-equipe-web{
    display : none;
}


/**********************************
PAGE A PROPOS /// BANDE-ARTICLES
**********************************/

.bande-articles-presse{
    margin-bottom : 50px;
}

.img-articles-press{
    height : auto;
    max-width: 100%;
    border : 1px solid var(--color--brique);
    -webkit-box-shadow: 10px 10px 0px 1px var(--color--second); 
    box-shadow: 10px 10px 0px 1px var(--color--second);
}

.text-on-card{
    font-size : 1.5rem;
    color : var(--color--brique);
}

/**********************************
PAGE PROGRAMMATION /// BANDE-EN COURS
**********************************/

.bande-programmation-en-cours{
    margin-top : 40px;
}

/************************************
PAGE LUMIN-PASS /// BANDE-LUMIN-PASS
************************************/

.img-lumin-pass{
    margin : 20px auto 20px auto;
    max-width: 100%;
}

.avantages-luminpass{
    margin: 40px 0 40px 0;
}

.luminpass-description{
    margin-bottom : 40px;
    font-size : 1.4rem;
}

.item-avantages{
    display : flex;
    align-items: center;
    justify-content :space-evenly;
    flex-direction: column;
    padding : 20px;
    height : 300px;
    font-size : 1.4rem;
    color : white;
    background: var(--color--vert);
    border : 20px solid var(--color--off-white);
    border-radius: 10%;
}

.item-avantages:hover{
    background: var(--color--bleu);
    animation : glitch1 2.5s alternate;
}

.formulaire{
    margin-bottom : 100px;
}

.suscribe-form{
    text-align: left;
    background-color : rgba(0, 0, 0, 0.050);
    padding : 20px;
    border : none;
    border-radius : 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.187);
}
input{
    border-radius : 10px;
}

.form-control{
    color : var(--color--off-black);
    background-color: rgba(255, 255, 255, 0.221);
    border: none;
    border-bottom : 2px solid var(--color--yellow);
}

/**********************************
PAGE INFOS
***********************************/

.bande-services, .infos-bande-carte, .bande-contact, .bande-faq{
    margin-bottom : 100px;
}

figure{
    max-width : 90%;
    margin : 30px auto 30px auto;
}

figcaption{
    max-width : 130px;
    color : var(--color--brique);
    padding : 10px;
    margin-top : 20px;
    font-size : 1rem;
}

.icon-service{
    border-radius: 50%;
    overflow : hidden;
    animation: float 3s ease-in-out infinite;
}

.section-faq{
    padding : 20px;
}

.faq-link{
    color : var(--color--brique);
}

.faq-link:hover{
    color : var(--color--brique);
}

/**********************************
PAGE LEGALE
**********************************/

.bande-credits{
    margin-bottom : 100px;
}

.cgv>a{
    color : black;
}


/**********************************
CSS FOOTER
**********************************/

.separateur{
    max-width: 100%;
    margin : auto;
    opacity : 0.2;
}

footer{
    padding: 20px;
    background: var(--color--second);
    background: linear-gradient(0deg, var(--color--second) 0%, rgba(255,255,255,0) 100%);
    color: var(--color--off-black);
    margin-top : 0;
    }

footer a{
    color: var(--color--off-black);
    text-decoration: none;
}

footer a:hover{
    color: var(--color--off-black);
}

.wave-footer{
    margin-top:10px;
    width:50px;
    margin-bottom :20px;
}

#paris-logo{
    width : 50%;
}

#lumin3ux-logo{
    display: block;
    width: 50%;
    margin: 20px auto 20px auto;
}

/**********************************
MEDIA RESP
**********************************/

@media screen and (min-width:360px) and (max-width:560px){
    .mob-text-slide{
        font-size : 0.9rem;
    }
}

@media screen and (min-width:768px) and (max-width:1200px){
    .overlay-text{
        font-size : 2.5rem;
    }
}

@media screen and (min-width:1200px){
    .overlay-text{
        font-size : 4rem;
    } 
}
    @media screen and (min-width:1600px){
        .overlay-text{
            font-size : 5rem;
        }

}

@media screen and (min-width:768px){
    h1{
        font-size : 3.5rem;
    }
    h2{
        font-size : 2rem;
    }

    .nav-solid{
        display:none;
    }

    .fixed-top{
        display: flex;
    }

    .video-container{
        width: 100%;
        height : 80%;
        z-index: 0;
    }
    #myVideo{
        width : 100%;
        height : 80%;
    }

    .overlay-text{
        margin-top : 100px;
    }

    .mob-info-concept{
        display : none;
    }
    
    .desk-info-concept{
        display : block;
        width : 90%;
        margin : 50px auto 50px auto;
    }

    .as-fab-vert, .as-fab-yellow, .as-fab-bleu{
        margin-left : 0;
        margin-right : 0;
    }

    .bande-avis{
        padding : 0
    }

    .main-container{
        display: unset;
    }

    #main-g, #main-d{
        width: 100%;
    }
    
    .bande-mains, .bande-mains>div{
        padding:0;
        margin:0;
    }

    footer{
        margin-top : unset;
    }

    .bs-fab-ig{
        margin-left: 40px;
        margin-right: 40px;
    }

    .bande-newsletter{
        height : 300px;
    }

    .newsletter-subscribe form .btn {
        margin-top: 0;
    }


    .map-legend{
        height : 400px;
        padding : 10px 0px 0px 0px;
    }

    .card-presse{
        -webkit-transform: scale(0.9);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .card-presse:hover {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    .separateur{
        margin : 50px auto 50px auto;
        max-height : 50px;
        width : 700px;
    }
    .very-big{
        font-size : 2.6rem;
    }

    .bande-equipe-mob{
        display : none;
    }

    .bande-equipe-web{
        display : block;
    }

    .photo-equipe{
        max-width: 40%;
    }

    .web-team{
        padding: 0 30px 0 30px;
    }

    .bande-programmation-en-cours{
        margin-top : 200px;
    }

    .bande-programmation-passee{
        margin-bottom : 100px;
    }

    .bande-prog, .bande-services, .photo-artiste-scene, .bande-mentions-legales{
        margin-top : 150px;
    }

    .img-lumin-pass{
        margin : 120px auto 20px auto;
        max-width: 60%;
    }

    .presse-web{
        display:block;
}

    .block-concept{
        flex-basis : 50%;
    }
    .text-block-vert, .text-block-bleu, .text-block-yellow, .text-block-brique{
        padding : 50px;
    }

    figcaption{
        max-width : 180px;

    }

}