/**********************************
CSS COLORS
**********************************/


/********* THEME ***********/

:root{
    --color--second : #A37873;
    --color--brique : #B04533;
  --color--off-white : #F8EEE3;
    --color--off-black : #31302E;
    --color--vert : #8A8C59;
    --color--yellow : #FAAF55;
    --color--bleu: #8691C6;
}

.color-second{
  color: var(--color--second);
}

.color-off-white{
  color: var(--color--off-white);
}

.color-brique{
  color: var(--color--brique);
}

.color-vert{
  color: var(--color--vert);
}

.color-yellow{
  color: var(--color--yellow);
}

.color-bleu{
  color: var(--color--bleu);
}

.bold{
  font-family: 'muli-black';
  font-weight: bold;
}

/**********************************
SMALL POP UP TEXT
**********************************/

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  font-size : 0.9rem;
  visibility: hidden;
  width: 330px;
  background-color: var(--color--second);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -125%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/**********************************
BUTTONS
**********************************/

.sin-liquid-a {
  position: relative;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  margin-bottom : 20px;
  overflow: hidden;
  border-radius: 40px;
  color : var(--color--brique);
  border : 1px solid var(--color--brique);

}

.sin-liquid-b {
  position: relative;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  margin-bottom : 20px;
  overflow: hidden;
  border-radius: 40px;
  color : white;
  border : 1px solid white;

}

.liquid-a {
    position: relative;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom : 20px;
    overflow: hidden;
    border-radius: 40px;

  }

  .liquid-a span {
    position: relative;
    color: white;
    font-size: 1rem;
    font-family: "muli";
    z-index: 1;
  }
  
  .liquid-a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: var(--color--brique);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  
  .liquid-a .liquid::after,
  .liquid-a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: var(--color--second);
  }
  
  .liquid-a .liquid::before {
    
    border-radius: 45%;
    background:var(--color--second);
    animation: animate 5s linear infinite;
  }
  
  .liquid-a .liquid::after {
    
    border-radius: 40%;
    background: #a3787375;
    animation: animate 10s linear infinite;
  }

  .liquid-a:hover{
    text-decoration: none;
  }
  
  .liquid-a:hover .liquid{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  

/**********************************
LIQUID BUTTON - YELLOW
**********************************/

.yellow-liquid-a {
  position: relative;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  margin-bottom : 20px;
  overflow: hidden;
  border-radius: 40px;

}

.yellow-liquid-a span {
  position: relative;
  color: white;
  font-weight : bold;
  font-size: 1rem;
  font-family: "muli";
  z-index: 1;
}

.yellow-liquid-a .yellow-liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: var(--color--yellow);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}


.yellow-liquid-a .yellow-liquid::after,
.yellow-liquid-a .yellow-liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #976528;
}

.yellow-liquid-a .yellow-liquid::before {
  
  border-radius: 45%;
  background: #976528;
  animation: animate 5s linear infinite;
}

.yellow-liquid-a .yellow-liquid::after {
  
  border-radius: 40%;
  background: #ff8c007e;
  animation: animate 10s linear infinite;
}

.yellow-liquid-a:hover{
  text-decoration: none;
}

.yellow-liquid-a:hover .yellow-liquid{
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/**********************************
CHARGEMENT DE PAGE
**********************************/

#loader { 
  border: 12px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 12px solid #444444; 
  width: 70px; 
  height: 70px; 
  animation: spin 1s linear infinite; 
} 

@keyframes spin { 
  100% { 
      transform: rotate(360deg); 
  } 
} 

.center { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto; 
} 

/**********************************
BACK TO TOP BUTTON
**********************************/

#myBtn {
  height : 80px;
  width: 80px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color--brique); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 20px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
}

#myBtn:hover {
  background-color: var(--color--second); /* Add a dark-grey background on hover */
}

.fa-arrow-up{
  font-size: 2.7rem;
  color: var(--color--off-white);
}

/**********************************
ICON-UP
**********************************/

@-webkit-keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.fa-plus{
  color :var(--color--off-black);
  font-size : 0.8rem;
  letter-spacing : 0;
}

/* Icon Up */
.hvr-icon-up {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-up .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon:hover{
  color : var(--color--off-black);
}

.hvr-icon-up:hover{
  color : var(--color--off-black);
}

.hvr-icon-up:hover .hvr-icon, .hvr-icon-up:focus .hvr-icon, .hvr-icon-up:active .hvr-icon {
  
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/**********************************
FLOAT
**********************************/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/**********************************
GLITCH
**********************************/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

/**********************************
BLINK
**********************************/

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}


/**********************************
MEDIA QUERIES ROOT
**********************************/

@media screen and (min-width:320px) and (max-width:767px) {
    
  .liquid-a {
      width: 140px;
      margin-bottom : 20px;
  }

  .liquid-a span {
    font-size: 0.9rem;
  }  

  .yellow-liquid-a {
    width: 140px;
    margin-bottom : 20px;
}

.yellow-liquid-a span {
  font-size: 0.9rem;
}  

  #myBtn {
    height : 50px;
    width: 50px;
    padding : 10px;
  }
  .fa-arrow-up{
    font-size: 2rem;
  }
}


